<h1>Crear curso</h1>

<form action="" method="post" [formGroup]="form" (ngSubmit)="createCourse()">
  <label for="code">Código</label>
  <input type="text" id="code" formControlName="code" />

  <label for="name">Nombre</label>
  <input type="text" id="name" formControlName="name" />

  <label for="center_cif">CIF del centro</label>
  <select name="center_cif" id="center_cif" formControlName="center_cif">
    <option
      *ngIf="!isEditing && centers && centers.length > 0"
      value=""
      disabled
      selected
    >
      Selecciona un centro
    </option>
    <option *ngIf="!centers || centers.length === 0" disabled selected>
      No hay centros disponibles
    </option>
    <option
      *ngFor="let center of centers"
      [value]="center.cif"
      [id]="center.cif"
    >
      {{ center.name }}
    </option>
  </select>

  <div class="buttons">
    <button type="submit" [disabled]="form.invalid">Añadir</button>
    <button type="reset">Limpiar</button>
  </div>
</form>

<p *ngIf="created">Creado correctamente</p>
<p *ngIf="error">Ha ocurrido un error al crear el curso: {{ errorMessage }}</p>
