<p-toast></p-toast>

<h1>{{ isEditing ? "Editar" : "Nuevo" }} profesor</h1>

<form
  action=""
  method="post"
  [formGroup]="form"
  (ngSubmit)="isEditing ? editTeacher() : createTeacher()"
>
  <div class="input-wrapper">
    <div class="input">
      <label for="dni">DNI</label>
      <input pInputText type="text" id="dni" formControlName="dni" />
    </div>

    <div class="input">
      <label for="name">Nombre</label>
      <input pInputText type="text" id="name" formControlName="name" />
    </div>
  </div>

  <div class="input-wrapper">
    <div class="input">
      <label for="surnames">Apellidos</label>
      <input pInputText type="text" id="surnames" formControlName="surnames" />
    </div>

    <div class="input">
      <label for="phone">Teléfono</label>
      <input pInputText type="tel" id="phone" formControlName="phone" />
    </div>
  </div>

  <div class="input-wrapper">
    <div class="input">
      <label for="email">Correo electrónico</label>
      <input pInputText type="email" id="email" formControlName="email" />
    </div>

    <div class="input">
      <label for="birthdate">Fecha de nacimiento</label>
      <input
        pInputText
        type="date"
        id="birthdate"
        formControlName="birthdate"
      />
    </div>
  </div>

  <div class="input-wrapper">
    <div class="input">
      <label for="role_id">Rol</label>
      <p-dropdown
        [options]="roles"
        [(ngModel)]="selectedRole"
        optionLabel="name"
        [showClear]="false"
        placeholder="Selecciona un rol"
        id="role_id"
        formControlName="role_id"
      ></p-dropdown>
    </div>

    <div class="input" *ngIf="!isEditing">
      <label for="pass">Contraseña</label>
      <p-password
        id="pass"
        formControlName="pass"
        [toggleMask]="true"
        [feedback]="false"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
      />
    </div>

    <div class="input" *ngIf="isGlobalAdmin">
      <label for="center_cif">Centro</label>
      <p-dropdown
        [options]="centers"
        [(ngModel)]="selectedCenter"
        optionLabel="name"
        [showClear]="false"
        placeholder="Selecciona un centro"
        id="center_cif"
        formControlName="center_cif"
      ></p-dropdown>
    </div>
  </div>

  <div class="buttons">
    <div class="action-buttons">
      <p-button
        type="submit"
        severity="success"
        [disabled]="form.invalid"
        [label]="isEditing ? 'Editar' : 'Añadir'"
      ></p-button>
      <p-button type="reset" severity="danger" label="Limpiar"></p-button>
      <p-button type="button" label="Volver" routerLink="/teachers"></p-button>
    </div>

    <p-button
      *ngIf="isEditing"
      type="button"
      severity="warning"
      routerLink="/update-pass"
      [queryParams]="{ email: teacher ? teacher.email : '' }"
      label="Cambiar contraseña"
    ></p-button>
  </div>
</form>
