.input-wrapper {
  align-items: flex-end;
}

.new-pass {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.buttons {
  display: flex;
  gap: 1vw;
  margin-top: 3vh;
  justify-content: space-between;
}
