<h1>Listado de puestos</h1>

<div class="new-button" *ngIf="isAdmin">
  <p-button (click)="create()">Nuevo puesto</p-button>
</div>

<div *ngIf="seats.length">
  <p-table
    #dt1
    [value]="seats"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="isLoading"
    [paginator]="true"
    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} salas"
    [globalFilterFields]="['', 'name', 'state', 'room_id']"
    styleClass="p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <button
          pButton
          label="Limpiar"
          class="p-button-outlined"
          icon="pi pi-filter-slash"
          (click)="clearFilter(dt1)"
        ></button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Buscar..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="name">
          <div class="flex align-items-center">
            Nombre
            <p-sortIcon field="name"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="name"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="state">
          <div class="flex align-items-center">
            Estado
            <p-sortIcon field="state"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="state"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="room_id">
          <div class="flex align-items-center">
            Sala
            <p-sortIcon field="room_id"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="room_id"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-seat>
      <tr>
        <td class="action-buttons">
          <button
            class="pi pi-file-edit showDetails"
            (click)="edit(seat.id)"
            *ngIf="isAdmin"
          ></button>
          <button
            class="pi pi-trash showDetails"
            (click)="delete(seat.id)"
            *ngIf="isAdmin"
          ></button>
        </td>
        <td>{{ seat.name }}</td>
        <td
          [ngStyle]="{
            color: seat.state === 'Disponible' ? '#22c55e' : '#ef4444'
          }"
        >
          {{ seat.state }}
        </td>
        <td>{{ seat.room_id }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="!seats.length || error">
  <p>No hay puestos para mostrar</p>
</div>

<div *ngIf="deleted">
  <p>Puesto eliminado correctamente</p>
</div>

<div *ngIf="deletedError">
  <p>No se ha podido eliminar el puesto</p>
</div>
