<h1>{{ isEditing ? "Editar" : "Nueva" }} sala</h1>

<form
  action=""
  method="post"
  [formGroup]="form"
  (ngSubmit)="isEditing ? editRoom() : createRoom()"
>
  <div class="input_wrapper">
    <div class="input">
      <label for="name">Nombre</label>
      <input pInputText type="text" id="name" formControlName="name" />
    </div>

    <div class="input">
      <label for="seats_number">Número de asientos</label>
      <input
        pInputText
        type="number"
        id="seats_number"
        formControlName="seats_number"
      />
    </div>
  </div>

  <div class="input_wrapper">
    <div class="input">
      <label for="floor_number">Planta</label>
      <input
        pInputText
        type="number"
        id="floor_number"
        formControlName="floor_number"
      />
    </div>

    <div class="input">
      <label for="room_type_id">Tipo</label>
      <p-dropdown
        [options]="roomTypes"
        [(ngModel)]="selectedRoomType"
        optionLabel="name"
        [showClear]="false"
        placeholder="Selecciona un tipo de sala"
        id="room_type_id"
        formControlName="room_type_id"
      ></p-dropdown>
    </div>
  </div>

  <div class="input_wrapper">
    <div class="input">
      <label for="center_cif">Centro</label>
      <p-dropdown
        [options]="centers"
        [(ngModel)]="selectedCenter"
        optionLabel="name"
        [showClear]="false"
        placeholder="Selecciona un centro"
        id="center_cif"
        formControlName="center_cif"
      ></p-dropdown>
    </div>
  </div>

  <div class="buttons">
    <p-button
      type="submit"
      severity="success"
      [disabled]="form.invalid"
      [label]="isEditing ? 'Editar' : 'Añadir'"
    ></p-button>
    <p-button type="reset" severity="danger" label="Limpiar"></p-button>
    <p-button type="button" label="Volver" routerLink="/rooms"></p-button>
  </div>
</form>

<p *ngIf="created">{{ isEditing ? "Editada" : "Creada" }} correctamente</p>
<p *ngIf="error">
  Ha ocurrido un error al {{ isEditing ? "editar" : "crear" }} la sala:
  {{ errorMessage }}
</p>
