<h1>Listado de cursos</h1>

<button (click)="create()">Crear curso</button>

<div *ngIf="courses.length">
  <table>
    <tr>
      <th></th>
      <th>Código</th>
      <th>Nombre</th>
      <th>Centro</th>
    </tr>
    <tr *ngFor="let course of courses">
      <td><button (click)="edit(course.code)">Editar</button></td>
      <td>{{ course.code }}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.center_name }}</td>
    </tr>
  </table>
</div>

<div *ngIf="!courses.length || error">
  <p>No hay cursos para mostrar</p>
</div>
