<h1>Listado de alumnos</h1>

<button (click)="create()">Crear alumno</button>

<div *ngIf="students.length">
  <table>
    <tr>
      <th></th>
      <th></th>
      <th>DNI</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Teléfono</th>
      <th>Correo electrónico</th>
      <th>Fecha de nacimiento</th>
      <th>Curso</th>
    </tr>
    <tr *ngFor="let student of students">
      <td><button (click)="edit(student.dni)">Editar</button></td>
      <td><button (click)="delete(student.dni)">Eliminar</button></td>
      <td>{{ student.dni }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.surnames }}</td>
      <td>{{ student.phone }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.birthdate }}</td>
      <td>{{ student.code_course }}</td>
    </tr>
  </table>
</div>

<div *ngIf="!students.length || error">
  <p>No hay alumnos para mostrar</p>
</div>

<div *ngIf="deleted">
  <p>Alumno eliminado correctamente</p>
</div>

<div *ngIf="deletedError">
  <p>No se ha podido eliminar el alumno</p>
</div>
