<p-toast></p-toast>

<div *ngIf="user">
  <h1>Bienvenido, {{ user.name }}</h1>
  <h3>Datos personales</h3>

  <div class="info">
    <div>
      <p><span>Nombre completo: </span>{{ user.name + " " + user.surnames }}</p>
      <p><span>Teléfono: </span>{{ user.phone }}</p>
      <p><span>Correo electrónico: </span>{{ user.email }}</p>
    </div>
    <div>
      <p>
        <span>Fecha de nacimiento: </span
        >{{ user.birthdate | date : "dd-MM-yyyy" }}
      </p>
      <p><span>Centro: </span>{{ user.center_cif }}</p>
      <p><span>Rol: </span>{{ user.role_id }}</p>
    </div>
  </div>

  <div class="buttons">
    <button class="p-button log-out" type="button" (click)="warningLogOut()">
      <span class="pi pi-sign-out"></span>
      Cerrar sesión
    </button>
    <div class="action-buttons">
      <p-button
        type="button"
        severity="success"
        label="Editar"
        [routerLink]="'/teachers/edit-teacher/' + user.dni"
      ></p-button>
      <p-button
        type="button"
        severity="warning"
        label="Cambiar contraseña"
        routerLink="/update-pass"
      ></p-button>
      <p-button
        type="button"
        severity="danger"
        label="Eliminar cuenta"
        (onClick)="warningDeleteAccount(user)"
      ></p-button>
    </div>
  </div>
</div>

<p-confirmDialog #cd>
  <ng-template pTemplate="footer">
    <button
      type="button"
      class="p-element p-ripple p-button-text p-confirm-dialog-reject p-button p-component ng-star-inserted"
      ng-reflect-label="Cancelar"
      ng-reflect-ng-class="p-confirm-dialog-reject"
      (click)="cd.reject()"
    >
      <i class="none ng-star-inserted"></i>
      <span class="p-button-label">Cancelar</span>
    </button>
    <button
      type="button"
      class="p-element p-ripple p-button-danger p-button-text p-confirm-dialog-accept p-button p-component ng-star-inserted"
      ng-reflect-label="Aceptar"
      ng-reflect-ng-class="p-confirm-dialog-accept"
      (click)="cd.accept()"
    >
      <i class="none ng-star-inserted"></i>
      <span class="p-button-label"
        >{{ isLogOut ? "Cerrar sesión" : "Eliminar cuenta" }}
      </span>
    </button>
  </ng-template>
</p-confirmDialog>
