<h1>Editar rol</h1>

<form action="" method="post" [formGroup]="form" (ngSubmit)="editRole()">
  <label for="name">Nombre</label>
  <input type="text" id="name" formControlName="name" />

  <div class="buttons">
    <button type="submit" [disabled]="form.invalid">Editar</button>
    <button type="reset">Limpiar</button>
    <button type="button" (click)="goBack()">Volver</button>
  </div>
</form>

<p *ngIf="created">Editado correctamente</p>
<p *ngIf="error">Ha ocurrido un error al editar el rol: {{ errorMessage }}</p>
