<h1>Crear rol</h1>

<form action="" method="post" [formGroup]="form" (ngSubmit)="createRole()">
  <label for="id">ID</label>
  <input type="number" id="id" formControlName="id" />

  <label for="name">Nombre</label>
  <input type="text" id="name" formControlName="name" />

  <div class="buttons">
    <button type="submit" [disabled]="form.invalid">Añadir</button>
    <button type="reset">Limpiar</button>
  </div>
</form>

<p *ngIf="created">Creado correctamente</p>
<p *ngIf="error">Ha ocurrido un error al crear el rol: {{ errorMessage }}</p>
