<p-toast></p-toast>

<h1>{{ isEditing ? "Editar" : "Nuevo" }} puesto</h1>

<form
  action=""
  method="post"
  [formGroup]="form"
  (ngSubmit)="isEditing ? editSeat() : createSeat()"
>
  <div class="input-wrapper">
    <div class="input">
      <label for="name">Nombre</label>
      <input pInputText type="text" id="name" formControlName="name" />
    </div>

    <div class="input" *ngIf="isGlobalAdmin && !isEditing">
      <label for="room_id">Centro</label>
      <p-dropdown
        [options]="centers"
        [(ngModel)]="selectedCenter"
        optionLabel="name"
        [showClear]="false"
        placeholder="Selecciona un centro"
        id="center_cif"
        formControlName="center_cif"
        (onChange)="getRooms()"
        emptyMessage="Sin resultados"
      ></p-dropdown>
    </div>

    <div class="input">
      <label for="room_id">Sala</label>
      <p-dropdown
        [options]="rooms"
        [(ngModel)]="selectedRoom"
        optionLabel="name"
        [showClear]="false"
        placeholder="Selecciona una sala"
        id="room_id"
        formControlName="room_id"
        emptyMessage="Sin resultados"
      ></p-dropdown>
    </div>
  </div>

  <div class="buttons">
    <p-button
      type="submit"
      severity="success"
      [disabled]="form.invalid"
      [label]="isEditing ? 'Editar' : 'Añadir'"
    ></p-button>
    <p-button
      type="button"
      severity="danger"
      label="Limpiar"
      (click)="resetForm()"
    ></p-button>
    <p-button type="button" label="Volver" routerLink="/seats"></p-button>
  </div>
</form>
